.secretarias-box {
  height: auto;
  padding-top: 3%;
  /* background-color: #ebebeb; */
  background: linear-gradient(
    to right,
    #e62328 0%,
    #a02382 33%,
    #0f64aa 66%,
    #2f56a1 100%
  );
}
.Territorio {
  background-image: url("../../assets/cercania.jfif");
}
.Actas {
  background-image: url("../../assets/cercania.jfif");
}
.secretarias-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: gotham Rounded;
  color: white;
  border-radius: 10px;
}
.secretarias-text {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: Gotham Rounded light;
  width: 100%;
  font-size: 15px;
}
.secretarias-image h2 {
  text-shadow: 1px 1px 1px black;
}
@font-face {
  font-family: "Gotham Rounded light";
  src: url("../../assets/GothamRoundedLight.otf");
}

.secretarias-p {
  width: 50%;
}
.cntnt-card-box {
  display: flex;
  padding: 10px;
}
.card-box {
  margin: 10px;
  display: flex;
  border: white solid 1px;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .secretarias-p {
    width: 90%;
  }
  .card-box {
    flex-direction: row;
  }
  .cntnt-card-box {
    flex-direction: column;
    width: 70%;
  }
  .secretarias-image {
    width: 30%;
  }
}
@media (max-width: 992px) {
  .card-box {
    flex-direction: column;
  }
  .cntnt-card-box {
    flex-direction: column;
  }
  .secretarias-p {
    width: 90%;
  }
  .secretarias-image {
    width: 100%;
    height: 400px;
  }
}
