.Historia-box {
  position: static;
  height: auto;
  background: linear-gradient(
    37deg,
    rgba(160, 35, 130, 1) 0%,
    rgba(195, 35, 85, 1) 53%,
    rgba(230, 35, 40, 1) 100%
  );
  color: white;
  margin-top: 100px;
  font-family: Gotham Rounded;
  padding-bottom: 7%;
  font-size: 20px;
}
.nosotros-box {
  background-image: url("../../assets/bg-nosotros.jpg");
  width: 100%;
  background-size: cover;
  height: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center center;
}
@media (min-width: 992px) {
  @media (min-height: 1023px) {
    .nosotros-box {
      height: 100vh;
    }
  }
}
.reunion-box {
  background-image: url("../../assets/jpro-reunion.jfif");
  width: 100%;
  background-size: cover;
  height: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center center;
}
.text-historia {
  margin: 10px 80px;
}
