.home-box{
    height: 100%;
    width: 100%;
    
}
@font-face {
    font-family: "Gotham Rounded";
    src: url("../assets/GothamRounded-Bold.otf");
}
@media (min-width: 1200px) {
    .image-box{
        background-image: url("../assets/f7d1f0c4-b7a5-46e7-a261-164969838721.png");
        min-height: 80vh;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        }
    .homepage-box{
        width: 100%;
    }
    .text-box{
        font-family: "Gotham Rounded", sand-serif;
        font-size: 3.5rem;
        color: white;
        text-shadow: rgb(0 0 0 / 25%) 0px 3px 6px;
    
    }
    .first-text{
        padding-right: 10px;
        display: flex;
        flex-direction: column;
    }
    .p1-first-text{
        display: flex;
        justify-content:flex-end;
    }
    .p2-first-text{
        display: flex;
        justify-content:flex-end;
        margin-top: -70px;
    }
    .second-text{
        margin-top: 300px;
    }
    .p1-second-text{
        display: flex;
        justify-content: initial;
    }
    .p2-second-text{
        display: flex;
        justify-content: initial;
        margin-top: -70px;
    }
}

@media (max-width: 1199px) {
    .image-box{
        background-image: url("../assets/f7d1f0c4-b7a5-46e7-a261-164969838721.png");
        min-height: 50vh;
        background-size: cover; 
        background-repeat: no-repeat;
        margin-top: 6.5rem;
        display: flex;
        flex-direction: column;
    }
    .homepage-box{
        width: 100%;
    }
    .text-box{
        font-family:"Gotham Rounded", sand-serif;
        font-size: 2.5rem;
        color: white;
        text-shadow: rgb(0 0 0 / 25%) 0px 3px 6px;
    
    }
    .first-text{
        padding-right: 10px;
        display: flex;
        flex-direction: column;
    }
    .p1-first-text{
        display: flex;
        justify-content:flex-end;
    }
    .p2-first-text{
        display: flex;
        justify-content:flex-end;
        margin-top: -50px;
    }
    .second-text{
        margin-top: 100px;
    }
    .p1-second-text{
        display: flex;
        justify-content: initial;
    }
    .p2-second-text{
        display: flex;
        justify-content: initial;
        margin-top: -50px;
    }
   
}
@media (max-width: 700px){
.image-box {
    background-image: url("../assets/93817c1b-fd61-4c7a-a250-da4aa843e1c9.png");
    min-height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 6.5rem;
    display: flex;
    flex-direction: column;
}
.text-box{
    font-family: "Gotham Rounded", sand-serif;
    font-size: 1rem;
    color: white;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 6px;
    display: flex;

}
.first-text{
    padding-right: 5px;
    display: flex;
    flex-direction: column;
}
.p1-first-text{
    display: flex;
    justify-content: flex-end;
}
.p2-first-text{
    display: flex;
    justify-content: flex-end;
    margin-top: -15px;
}
.second-text{
    padding-left: 5px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;

}
.p1-second-text{
    display: flex;
    justify-content: initial;
    align-items: flex-end;
}
.p2-second-text{
    display: flex;
    justify-content: initial;
    margin-top: -20px;
    align-items: flex-end;
}
}