.Historia-box {
  position: static;
  height: auto;
  background: linear-gradient(
    37deg,
    rgba(160, 35, 130, 1) 0%,
    rgba(195, 35, 85, 1) 53%,
    rgba(230, 35, 40, 1) 100%
  );
  padding-top: 5%;
  color: white;
  font-family: Gotham Rounded;
  padding-bottom: 7%;
  font-size: 20px;
}
.positivismo-box {
  background-image: url("../../assets/positivismo.jfif");
  width: 100%;
  background-size: cover;
  height: 100%;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: start center;
}
.text-historia {
  margin: 10px 80px;
}
