.Historia-box {
  position: static;
  height: auto;
  background: linear-gradient(
    37deg,
    rgba(160, 35, 130, 1) 0%,
    rgba(195, 35, 85, 1) 53%,
    rgba(230, 35, 40, 1) 100%
  );
  padding-top: 5%;
  color: white;
  font-family: Gotham Rounded;
  padding-bottom: 7%;
  font-size: 20px;
}

@media (min-width: 992px) {
  .quePensamos-box {
    background-image: url("../../assets/que-pensamos.jfif");
    width: 100%;
    background-size: cover;
    height: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center center;
  }
}
@media (max-width: 992px) {
  .quePensamos-box {
    background-image: url("../../assets/que-pensamos.jfif");
    width: 100%;
    background-size: cover;
    height: 100%;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
    background-position: center center;
  }
}
.text-historia {
  margin: 10px 80px;
}

.sumate-btn {
  padding: 7px 40px 7px 40px;
  border-radius: 20px;
  border: none;
  background-color: white;
  font-size: 20px;
  color: #333;
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}
.sumate-btn:hover {
  color: #333;
  background-color: #ffc107;
}
